<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calc">
        <activity android:name=".part6_tab_with_rv.Matches" />
        <activity android:name=".part5_cats_breed.CatBreed" />
        <activity android:name=".part3_images.ChangeColorActivity" />
        <activity android:name=".part4_title.TitleActivity" />
        <activity android:name=".part3_images.ImageViewActivity" />
        <activity android:name=".part2_calculator.ActivityCalculator" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>